<div class="table-box">

    <div class="table-action">
        <div></div>
        <app-selectcolumns [columns]="headeritem" (valueChange)='displayCounter($event)'></app-selectcolumns>
    </div>
    <div class="table-panel">

        <cdk-virtual-scroll-viewport class="virtual-scroll-container" itemSize="18">
            <table class="tablehead" stickyTable>
                <thead>
                    <tr>
                        <ng-container *ngFor="let data of headeritem">
                            <th sticky [appSort]="dataSource.data" data-order="desc" scope="col" *ngIf="data.show"
                                resizable [style.top]="inverseOfTranslation">
                                <div (contextmenu)="onContextMenu($event, data,'headeraction')"> {{data.name}}</div>
                            </th>
                        </ng-container>


                    </tr>
                </thead>
                <tbody>
                    <tr *cdkVirtualFor="let node of dataSource, let i = index" (click)="onhightlight($event, node)"
                        [class.highlighted]="node === rowitem">

                        <ng-container *ngFor="let data of headeritem, let j = index">
                            <ng-container *ngIf="data.isNode && data.show">
                                <td sticky [id]="j" (contextmenu)="onContextMenu($event, node,'tbodyaction')">
                                    <div class="node" [style.padding-left]="node.level * 24 + 'px'">
                                        <button class="expendbtn" (click)="treeControl.toggle(node)"
                                            *ngIf="node.hasChildren">
                                            <mat-icon> {{ treeControl.isExpanded(node) ? 'arrow_drop_up' :
                                                'arrow_drop_down'
                                                }}
                                            </mat-icon>
                                        </button>
                                        {{ node.name }}
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container *ngIf="!data.isNode && data.show">
                                <td [id]="j" (contextmenu)="onContextMenu($event, node,'tbodyaction')">Col {{j+1}}
                                    Value -
                                    {{node.name}}</td>
                            </ng-container>

                        </ng-container>


                    </tr>
                </tbody>
            </table>
        </cdk-virtual-scroll-viewport>
    </div>
</div>
<div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x"
    [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu"></div>
<mat-menu #contextMenu="matMenu">
    <ng-template matMenuContent let-item="item">
        <bi-contextmenu [contextMenu]="contextItem" [colmuid]="columnsid" (contextMenuVal)="onClickContextMenu($event)">
        </bi-contextmenu>
    </ng-template>
</mat-menu>