$greaycolor: #e0e0e0;
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  td {
    text-overflow: ellipsis;
    white-space: nowrap;
    border-color: $greaycolor;
  }
  .mat-row {
    height: 40px;
  }
}

  .tablehead {
    position: relative;
    thead {
      tr {
        height: 45px;
        border-bottom: 1px solid $greaycolor;
        th {
          border-left: 1px solid $greaycolor;
          &:first-child {
            border-left: none;
          }
        }
      }
    }
    tbody {
      tr {
        height: 40px;
        border-bottom: 1px solid $greaycolor;
        th {
          border-left: 1px solid $greaycolor;
          &:first-child {
            border-left: none;
          }
        }
      }
    }
  }


.table-panel {
  height: 600px;
  background-color: #ffffff;

  cdk-virtual-scroll-viewport {
    height: 100%;

    table {
      height: 100%;
      width: 100%;
      border-collapse: separate;
      border-spacing: 0;
      color: #000000;

      thead tr th {
        height: 40px;
        border-bottom: 1px solid #d0d0d0;
        padding: 7px 20px 7px 7px; 
        position: sticky;
        background-color: #ffffff;
        font-weight: bold; left: 0; top: 0; z-index: 11;
        &:first-child{ z-index: 111;}
      }
     

      tbody tr td {
      
        border-bottom: 1px solid #d0d0d0;
        padding:6px;
        .expendbtn{
          padding: 0;
    margin: 0;
    line-height: normal;
    height: 24px;
    vertical-align: middle;
    background: none;
    border: none;
    width: 22px;
    cursor: pointer;
        }
      }
    }
  }
}
.table-box{
  width: 100%;
  .table-action{ border-bottom: 1px solid #ccc;
     display: flex;
      justify-content: space-between; padding: 10px;
  }
}
.fixedtd{ position: sticky; left: 0; z-index: 1; background-color: #fff;}