<mat-dialog-content>

    <form [formGroup]="editform">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label> Header Name</mat-label>
          <input matInput formControlName="headername" required>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
            <mat-label> Data Type</mat-label>
            <mat-select required formControlName="dataType">
                <mat-option *ngFor="let framework of frameworks" [value]="framework">
                  {{ framework }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
            <mat-label> Column Width</mat-label>
            <input matInput formControlName="colwidth">
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
            <mat-label> Font Size</mat-label>
            <mat-select formControlName="fontsize">
                <mat-option *ngFor="let ddlfont of ddlfonts" [value]="ddlfont">
                  {{ ddlfont }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
            <mat-label> Font Color</mat-label>
            <mat-select formControlName="fontcolor">
                <mat-option *ngFor="let ddlfontcolor of ddlfontcolors" [value]="ddlfontcolor">
                  {{ ddlfontcolor }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
            <mat-label> Background Color</mat-label>
            <mat-select formControlName="colbg">
                <mat-option *ngFor="let ddlcolbg of ddlcolbgs" [value]="ddlcolbg">
                  {{ ddlcolbg }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <section>
            <mat-checkbox formControlName = "txtwrap">Text Wrap</mat-checkbox>
        </section>          
    </form>

</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" [disabled]="editform.invalid" [mat-dialog-close]="editform.value">Save</button>
    <button mat-raised-button mat-raised-close tabindex="-1" (click)="onCancelClick()">Cancel</button>
</mat-dialog-actions>